MATRIX_PLAYBOOK_MIGRATION_VALIDATED_VERSION=change-me
MATRIX_DOMAIN=nu31.space
MATRIX_HOMESERVER_GENERIC_SECRET_KEY=change-me
HOST=65.109.28.228
POSTGRES_HOST=65.109.28.227
POSTGRES_PORT=5432
POSTGRES_USER=synapse
POSTGRES_PASSWORD=change-me
POSTGRES_DATABASE=synapse
